<h1>選手一覧</h1>

<ul>
  <% @players.each do |player| %>
  <li>
    <dl>
      <dt><%= player.name %></dt>
      <dd><%= birthday(player) %></dd>
      <dd><%= player.stadium_weather.weather_name %></dd>
      <dd>
        <% unless player.stadium_weather.icon.blank? %>
          <img src="http://openweathermap.org/img/w/<%= player.stadium_weather.icon %>.png" />
        <% end %>
      </dd>
    </dl>
  </li>
  <% end %>
</ul>
