<div class="row">
<div class="large-8 columns">
<h4>すきなプロ野球選手の誕生日、どんな天気ですごしたかな？</h4>
<p>あなたのすきなプロ野球選手は晴れ男、雨男、もしかして雪男！？<br>プロ野球選手が最後にむかえた誕生日、所属チームのホームスタジアムの天気はどうだったのかを調べることができるサービスです</p>
</div>
</div>
