<!doctype html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NpbpWeather</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css" />
  </head>

  <body>
    <script>
      $(document).foundation();
    </script>
    <%= yield %>
    <script src="http://cdn.foundation5.zurb.com/foundation.js"></script>
  </body>
</html>
